<div class="col-md-8">
    <p id="notice"><%=notice%></p>
    
    <table table table-stripped></table>
    <thead>
        <tr>
            <th>Duration (min)</th>
            <th>Workout Details</tj>
            <th>Activity Date</th>
            <td
        </tru>
    </thead>
</div>